ul {
    display: flex;
    justify-content: space-around;
  }
  
  li {
    list-style: none;
    text-align: center;
  }
  
  .listItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  
  .listItem img {
    width: 100px;
    height: 150px;
  }
  
  .listItem button {
    margin-top: 10px;
  }
  